body {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    background-color: beige;
}
 
footer a{
    margin: 0 10px;
}

.croissant-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

